<% price_details.each do |p| %>

  <h2 class="light white"><%= p.price %> </h2><h6 class="light white">Added <%= time_ago_in_words(p.created_at)  %> ago</h6>
<% if current_user.id=p.user_id %>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
      <table style="align:center">
        <tr>

          <td><%= link_to "Delete Price",destory_price_path(:id=>p.id),:method=>'DELETE', :class => 'btn btn-lg btn-danger' %></td>
          <td><%= link_to 'Update Price', "#update_price", "data-toggle" => "modal", :class => 'btn btn-lg btn-primary' %></td>
        </tr>
      </table>
      </div>
      <div class="col-sm-3"></div>
  </div>
<% end %>
               <div class="detailBox">
                 Price Rate :- <%= rating_for p,'price',stars:5, half_show: true, path: 'star_icons',cancel_place: 'right', space: true, disable_after_rate: true, target: '#hintDiv' , targetType: "score"%>
                 <div id="hintDiv"></div>
              </div>
<div data-dimension="price" class="star" data-rating="0" data-id="4" data-classname="Price" data-disable-after-rate="true" data-readonly="false" data-star-count="5"></div>


<div class="detailBox">
    <div class="titleBox">
      <label>User Comments</label>
    </div>
    <div class="commentBox">
        
        <p class="taskDescription light white">You can find this price at  <h6 class="light white"><b> <%= p.address %></b></h6></p>
    </div>
    <div class="actionBox">
        <%= paginate comments %>

        
          
           <% comments.each do |c| %>
            <ul class="commentList ">
              <li>
                  <div class="commenterImage">
                  <% if c.user.avatar.nil? %>
                      <%= image_tag "logo-active.png" %>
                  <% else %>
                     <%= image_tag(c.user.avatar) %>
                  <% end %>
                  </div>
                  <div class="commentText">

                   <div class="light "><textarea disabled rows="5" cols="5" class="ta6 "><%= c.body %></textarea></div>
                   <span class="light white ">
                     <sup><b><%= time_ago_in_words(c.created_at) %> ago</b>
                     </sup>
                  </span>

                    <table>
                     <tr>
                      <% if current_user.id=c.user_id %>
                         
                       <td>                   
                         <%= link_to "Delete",destroy_comment_path(:id=>c.id),:method=>'DELETE' %>
                        </td>
                        <td><%= link_to "Update",'#update_comment', "data-toggle" => "modal" %>
                        </td>

                        <% end %>
                     </tr>
                   </table>
                 
                  </div>
              </li>


<div class="modal fade" id="update_comment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-popup">
        <a href="#" class="close-link" data-dismiss="modal"><i class="icon_close_alt2"></i></a>
        <h3 class="white">Update Comment</h3>
        <div id="register_errors">
        <h1></h1>
        </div>
        <div class="row">
          <div class="col-sm-12">

          </div>

        </div>
       <%= form_tag update_comment_path,method: :patch,html:{class:'form-horizontal'} do %>
           <div class="form-group">
              <%= text_area_tag :body,c.body,class:'form-control',content:c.body %>
           </div>

          <%= hidden_field_tag :id ,params[:id] ,value: c.id %>
          <br/>
          

          <p><div> <%= submit_tag "Update Comment" ,  class: "btn btn-submit" %></div></p>
      
    <% end %>
      </div>
    </div>
</div>
            </ul> 
          <% end %>
          <!-- comments end -->
        
        <% if current_user.nil? %>
        <span class="light white ">Please <b>Sign Up</b> Or <b>Login</b> First To Add Comment</span>
        <% else %>
        <%= form_tag add_comment_path,method: :post,html:{class:'form-inline',role:'form' } do%>

            <%= hidden_field_tag 'price_id',p.id %>
            <div class="form-group">
                <%= text_area_tag :comment_body,params[:comment_body],class:'form-control',placeholder: 'Your Comment' %>
            </div>

            <div class="form-group">
                <%= submit_tag "add Comment" , class: "btn btn-submit" %>

            </div>

            <% end %>

        <% end %>
    </div>
</div>


<% end %>
<!-- price Deatils end -->
