
<% if products.blank? %>
<h5 class="muted regular text-center ">Sorry this category Doesn't have any product yet</h5>
<% else %>
<h5 class="muted regular text-center ">List Of products</h5>

			

	<div class="row">
		
		<% @products.each do |product| %>
				<div class="col-md-4">
					<div class="team text-center">
						
						
						<% product.prices.sort_by{|t| - t.created_at.to_i}.last(1).each do |pp| %>
							<%= image_tag pp.image, :alt => nil,class: "avatar",width:'256' ,height:'256' %>
						<% end %>
						<div class="title">
							<h4><%= product.name %></h4>
							<h5 class="muted regular"><%= product.description %></h5>
						</div>

						<%= link_to "Show Details",product_details_path(:product_id => product.id),:remote =>true, "data-toggle" => "modal",'data-target' => '#show_details', :class => 'btn btn-blue-fill' %> 

					</div>
				</div>
				
		<% end %>

	</div>

		<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<%= paginate @products %>
		</div>
		<div class="col-md-4">
		</div>
	</div>

<% end %> 




