<%= form_tag search_index_path,method: :get,remote: :true,html:{class:'form-horizontal'} do %>
     <div class="form-group">
        <%= text_field_tag :name,params[:name],class:'form-control',placeholder: 'Product Name' %>
    </div>

     <div class="form-group">
        <%= collection_select(:product,:category_id,@sub_categories,:id,:name,{prompt: 'Select Category'} ,{class: "form-control"}) %>

    </div>
    <div class="form-group">
        <%= text_field_tag :min,params[:min],class:'form-control',placeholder: 'Min Price' %>
         <%= text_field_tag :max,params[:max],class:'form-control',placeholder: 'Max Price' %>
    </div>

    <div class="form-group">
      <!-- location -->
      <select name="address" class="form-control">
          <option value="">Adress</option>
          <option value="cairo">Cairo</option>
          <option value="Alex">Alexandria</option>
          <option value="Minofia">Minofia</option>
          <option value="Qaliobia">Qaliobia</option>
          <option value="Aswan">Aswan</option>
          <option value="Qena">Qena</option>
          <option value="Sharkya">Sharkya</option>
          <option value="Gahrbia">Gahrbia</option>
          <option value="Minia">Minia</option>
      </select>
    </div>


        <%= submit_tag "Search" , class: "btn btn-blue ripple trial-button" %>
<% end %>