<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<title><%= yield(:title) %></title>
  	<meta name="description" content="Cardio is a free one page template made exclusively for Codrops by Luka Cvetinovic" />
	<meta name="keywords" content="html template, css, free, one page, gym, fitness, web design" />
	<meta name="author" content="Luka Cvetinovic for Codrops" />
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
	<script type="text/javascript"> $(function ()
    { $("#myModal").modal({show:false }); </script>
</head>

<body>
	<%= render "welcome/login_modal" %>                 
    <%= render "welcome/sign_up_modal" %> 

	<div class="preloader">
		<%= image_tag "loader.gif" , :alt => "Preloader image",class: "icon" %>
	</div>

	<%= render "layouts/header" %>

	<section>
		<div class="cut cut-top"></div>
		<div class="container">
			<div class="row intro-tables">
				<div class="col-md-6">
					<div class="intro-table intro-table-first">
						<h5 class="white heading"></h5>
						<div class="owl-carousel owl-schedule bottom">
							<div class="item">
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Statistics</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">5M Dollar ..</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white"> Statistics</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">24% ...</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Statistics</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">More Than ...</h5>
									</div>
								</div>
							</div>
							
							<div class="item">
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Statistics</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">5M Dollar ..</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white"> Statistics</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">24% ...</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Statistics</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">More Than ...</h5>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Statistics</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">5M Dollar ..</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white"> Statistics</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">24% ...</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Statistics</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">More Than ...</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="col-md-4">
					<div class="intro-table intro-table-hover">
						<h5 class="white heading hide-hover">Premium Membership</h5>
						<div class="bottom">
							<h4 class="white heading small-heading no-margin regular">Register Today</h4>
							<h4 class="white heading small-pt">20% Discount</h4>
							<a href="#" class="btn btn-white-fill expand">Register</a>
						</div>
					</div>
				</div> -->
				<div class="col-md-6">
					<div class="intro-table intro-table-third">
						<h5 class="white heading">Happy Clients</h5>
						<div class="owl-testimonials bottom">
							<div class="item">
								<h4 class="white heading content">Amazing Idea,, best wishes!</h4>
								<h5 class="white heading light author">Mina</h5>
							</div>
							<div class="item">
								<h4 class="white heading content">I can't believe how much better I feel!</h4>
								<h5 class="white heading light author">Hema </h5>
							</div>
							<div class="item">
								<h4 class="white heading content">Incredible Website!</h4>
								<h5 class="white heading light author"> Goldman</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	


<section id="services" class="section section-padded">

		<div class="container">
			<div class="row text-center title">
				<h2> <%= @categoriesSize %> Categories</h2>
				
				<h4 class="light muted">Achieve the best best price for your required product!</h4>
			</div>
			<div class="row services">
		<% if @categoriesSize > 0 %>
			<% @parent_categories.each do |c| %>
		
				<div class="col-md-<%= 12/@categoriesSize %> ">
					<div class="service">
						<div class="icon-holder">
							<img src="img/icons/heart-blue.png" alt="" class="icon">
						</div>
						<h4 class="heading"><%=	c.name %></h4>
						<div class="description">
						<table class="table table-bordered table-condensed">
						  <tbody>
						    <tr>
						      <td><a href="#" class="btn-sm btn-primary"><i class="icon-check icon-white">Mobiles</i></a></td>
						      <td><a href="#">Samsung,LG,Nokia</a><br /></td>
						    </tr>
						    <tr>
						      <td><a href="#" class="btn-sm btn-primary"><i class="icon-check icon-white">Electronics</i></a></td>
						      <td><a href="#">laptop,Tvs</a><br /></td>
						    </tr>
						    <tr>
						      <td><a href="#" class="btn-sm btn-primary"><i class="icon-check icon-white">Gears</i></a></td>
						      <td><a href="#">handfree,</a><br /></td>
						    </tr>
						  </tbody>
						</table></div>
					</div>
				</div>

				<%	end %>
				<% else %>
				<div class="col-md-12">
				<h3> Sorry We don't have Categories Right now ..Add Categories to DB ..</h3>
				</div>
			<% end %>
			</div>
		</div>
		<div class="cut cut-bottom"></div>
	</section>
	<section id="products" class="section gray-bg">
		<div class="container">
			<div class="row title text-center">
				<h2 class="margin-top">Products</h2>
				<h4 class="light muted">Know more about product prices!</h4>
				<h4 class="light muted">
				

				</h4>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background:url('team/tv.jpg'
						); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">$9,999.99</h3>
								<h5 class="light light-white">78” Class KS9800 9-Series Curved 4K SUHD TV (2016 Model) </h5>
							</div>
						</div>
						

						<%= image_tag "team/tv1.png", :alt => nil,class: "avatar" %>
						<div class="title">
							<h4>TV Samsung</h4>
							<h5 class="muted regular">The best Tv ever</h5>
						</div>
						<button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Show Details</button>
					</div>
				</div>
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background:url('team/tv.jpg'
						); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">$9,999.99</h3>
								<h5 class="light light-white">78” Class KS9800 9-Series Curved 4K SUHD TV (2016 Model) </h5>
							</div>
						</div>
						

						<%= image_tag "team/tv1.png", :alt => nil,class: "avatar" %>
						<div class="title">
							<h4>TV Samsung</h4>
							<h5 class="muted regular">The best Tv ever</h5>
						</div>
						<button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Show Details</button>
					</div>
				</div>
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background:url('team/tv.jpg'
						); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">$9,999.99</h3>
								<h5 class="light light-white">78” Class KS9800 9-Series Curved 4K SUHD TV (2016 Model) </h5>
							</div>
						</div>
						

						<%= image_tag "team/tv1.png", :alt => nil,class: "avatar" %>
						<div class="title">
							<h4>TV Samsung</h4>
							<h5 class="muted regular">The best Tv ever</h5>
						</div>
						<button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Show Details</button>
					</div>
				</div>
			</div>
			<ul class="pagination pagination-lg">
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
</ul>
		</div>
	</section>
	<section id="pricing" class="section">
		<div class="container">
			<div class="row title text-center">
				<h2 class="margin-top white">About Us</h2>
				<h4 class="light white">We're here just for you! guiding you to the lowest price..</h4>
			</div>
			<div class="row no-margin">
				<div class="col-md-7 no-padding col-md-offset-5 pricings text-center">
					<div class="pricing">
						<div class="box-main active" data-img="images/pricing1.jpg">

							<h4 class="white">Our Vision</h4>
							<h4 class="white regular light">5 <span class="small-font">/ years</span></h4>
							<!-- <a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-white-fill">Sign Up Now</a> -->
							<i class="info-icon icon_question"></i>
						</div>
						<div class="box-second active">
							 <ul class="white-list text-left">
								<li>One of the most visited website </li>
								<li>expand to the another countries</li>
							</ul> 


						</div>
					</div>
					<div class="pricing">
						<div class="box-main" data-img="img/pricing2.jpg">
							<h4 class="white">Join Us </h4>
							<h4 class="white regular light"> right<span class="small-font">now..</span></h4>
							<a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-white-fill">Sign Up Now</a>
							<i class="info-icon icon_question"></i>
						</div>
						<div class="box-second">
							<ul class="white-list text-left">
								<li>Get the best prices</li>
								<li>Let's join us </li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section-padded blue-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="owl-twitter owl-carousel">
						<div class="item text-center">
							<i class="icon fa fa-twitter"></i>
							<h4 class="white light">To get the best prices Join us.</h4>
							<h4 class="light-white light">#price #less </h4>
						</div>
						<div class="item text-center">
							<i class="icon fa fa-twitter"></i>
							<h4 class="white light">To get the best prices Join.</h4>
							<h4 class="light-white light">#price #less</h4>
						</div>
						<div class="item text-center">
							<i class="icon fa fa-twitter"></i>
							<h4 class="white light">To get the best prices Join.</h4>
							<h4 class="light-white light">#price #less</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	
	<%= render "layouts/footer" %>

 	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>

</html>
